<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center mb-5">
			<div class="default-box rounded my-1" th:data-post-id="${post.postId}">
				<div class="d-flex justify-content-between align-items-center">
					<h4 class="ml-2 mt-2" th:text="${post.title}">제목</h4>
					<i class="bi bi-three-dots mr-3 option"></i>									
				</div>
				<hr>
				<div class="d-flex p-2">
					<div class="miniProfile-box d-flex ml-2">
						<img th:unless="${post.imagePath == null}" th:src="${post.imagePath}">
						<img th:if="${post.imagePath == null}" src="/static/images/default_img.webp">
					</div>
					<div>
						<div class="mt-1 ml-2"><b th:text="${post.nickname}"></b></div>
						<div class="ml-2 small" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></div>	
					</div>
				</div>
				<div class="content mt-1 ml-4 p-2" th:text="${post.contents}">
					내용
				</div>
				<div class="d-flex justify-content-between">
					<div class="p-2 ml-4">
						<h4><i class="bi bi-eye-fill"></i></h4>
					</div>
					<div class="d-flex p-2">
						<h4><i class="bi bi-chat-left-text-fill"></i></h4>
						<h4><i th:if="${post.isLike}" class="bi bi-hand-thumbs-up-fill ml-5 mr-5 unlikeBtn" th:data-type="post" th:data-id="${post.postId}"></i></h4>
						<h4><i th:unless="${post.isLike}" class="bi bi-hand-thumbs-up ml-5 mr-5 likeBtn" th:data-type="post" th:data-id="${post.postId}"></i></h4>
					</div>				
				</div>
				<div class="d-flex">
					<input type="text" class="comment-box ml-4 mb-3 text-white" placeholder="댓글을 입력하세요">
					<button class= "btn mb-3 ml-2 comment-button text-white" id="saveBtn">등록</button>
				</div>
			</div>
		</section>
		
		 <script layout:fragment="script">
			$(document).ready(function(){
				
				$(".unlikeBtn").on("click", function(){
					let targetType = $(this).data("type");
        			let targetId = $(this).data("id");
        			
        			$.ajax({
        				type:"delete"
        				, url:"/post/unlike"
        				, data:{"targetType": targetType 
        		            , "targetId": targetId}
        				, success:function(response) {
        					if(response.result == "success") {
        						location.reload();
        					} else {
        						alert("좋아요 취소 실패")
        					}
        				}
        				, error:function() {
        					alert("삭제 에러");
        				}
        			});		
        		});
				
				$(".likeBtn").on("click", function(){
					let targetType = $(this).data("type");
        			let targetId = $(this).data("id");
        			
        			$.ajax({
        				type:"post"
        				, url: "/post/like"
        				, data:{"targetType": targetType 
        		            , "targetId": targetId }
        				, success:function(response) {
        					if(response.result == "success") {
								location.reload();
							} else {
								alert("좋아요 실패");
							}
        				}
        				,error:function() {
        					alert("좋아요 에러!");	
        				}
        				 
        			});
        			
        		});
			});
		</script>
        
</html>