<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center mb-5">
			<div class="default-box rounded my-1">
				<h4 class="ml-2 mt-2">글쓰기</h4>
				<hr>
				<div class="p-5">
					<h5>제목</h5>
					<input type="text" class="form-control" id=titleInput placeholder="제목을 입력하세요">
					<br>
					<h5 class="mt-3">내용</h5>
					<textarea class="form-control mt-3" rows="10" id="contentsInput" placeholder="본문을 입력하세요"></textarea>
					<div class="d-flex justify-content-between">
						<div class="d-flex mt-3">
							<button type="button" class="btn text-white uploadBtn">
						        <i class="bi bi-image" style="font-size: 20px;"></i> 이미지 업로드
						    </button>
    						<input type="file" id="fileInput" class="d-none" multiple>
    						<div id="fileInfo" class="ml-2" style="max-width: 200px; white-space: normal; overflow: hidden;  word-wrap: break-word;"></div>									
						</div>	
						<button class= "btn mt-4 ml-2 default-button text-white" id="saveBtn">게시</button>	
					</div>
				</div>
			</div>	
		</section>
		
		<script layout:fragment="script">
			$(document).ready(function(){
	
				$(".uploadBtn").on("click", function() {
			        $("#fileInput").click(); 
			    });
				
				 $("#fileInput").on("change", function() {
				        let files = $(this)[0].files;
				        let fileInfo = $("#fileInfo");
				        let fileNames = [];
				        
				        for (let i = 0; i < files.length; i++) {
				            fileNames.push(files[i].name); 
				        }
				        
				        if (fileNames.length > 0) {
				            fileInfo.html("<span>" + fileNames.join(", ")  + "</span>" + "<br>");
				        } else {
				            fileInfo.html("");
				        }
				    });
				
				 $("#saveBtn").on("click", function(){
						let title = $("#titleInput").val();
						let contents = $("#contentsInput").val();
						
						let files = $("#fileInput")[0].files;
						
						if(title == "") {
							alert("제목을 입력해주세요.");
							return;
						}
						
						if(contents == "") {
							alert("내용을 입력해주세요.");
							return;
						}
						
						let formData = new FormData();
						formData.append("title", title);
						formData.append("contents", contents);
						
						if (files.length > 0) {
					        for (let i = 0; i < files.length; i++) {
					            formData.append("imageFiles", files[i]);
					        }
					    }
						
						$.ajax({
							type: "post"
							,url: "/post/create"
							,data: formData
							, enctype:"multipart/form-data" 
							, processData:false 
							, contentType:false 
							, success: function(response){
								if(response.result == "success"){
									alert("게시물이 등록되었습니다.");
									location.href = "/post/list-view"
								} else{
									alert("게시물이 등록을 실패하였습니다.");
								}
							}
							,error:function(){
								alert("게시 에러");
							}
						});
						
					});
			});
		
		</script>
</html>