<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center mb-5">
			<div class="default-box rounded my-1">
				<nav class="mt-3 mb-2 ml-2 d-flex">
			        <h5><a href="#" class="text-white ml-2">공식 영상</a></h5>
			        <h5><a href="/post/list-view" class="text-white ml-4">자유게시판</a></h5>
			        <h5><a href="#" class="text-white ml-4">세팅</a></h5>
			        <h5><a href="#" class="text-white ml-4">픽업 기간</a></h5>
			    </nav>
			    <table class="table text-center">
			        <thead>
			            <tr class="small">
			                <th>No</th>
			                <th>제목</th>
			                <th>작성자</th>
			                <th>작성일</th>
			                <th>조회수</th>
			                <th>추천</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr class="small" th:each="post:${postList}">
			                <td th:text="${post.postId}"></td>
			                <td><a th:href="|/post/detail-view/${post.postId}|" th:text="${post.title}" class="text-white"></a>
			                	<b class="ml-1"><span th:unless="${post.commentCount} == 0" th:text="|[${post.commentCount}]|"></span></b>
			                </td>
			                
			                <td th:text="${post.nickname}">DTO 만들어야겠지?</td> <!-- 작성자 -->
			                <td> <!-- 작성일 -->
				                <span th:if="${#temporals.format(post.createdAt, 'yyyy-MM-dd') == #temporals.format(localDate, 'yyyy-MM-dd')}"
      								th:text="${#temporals.format(post.createdAt, 'HH:mm')}"></span>
      								
      							<span th:if="${#temporals.format(post.createdAt, 'MM-dd') != #temporals.format(localDate, 'MM-dd') 
      							and #temporals.format(post.createdAt, 'yyyy') == #temporals.format(localDate, 'yyyy')}"
      								th:text="${#temporals.format(post.createdAt, 'MM-dd')}"></span>
      								
				                <span th:unless="${#temporals.format(post.createdAt, 'yyyy') == #temporals.format(localDate, 'yyyy')}"
				                th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></span>
			                </td>
			                <td>역시</td> <!-- 조회수 -->
			                <td th:text="${post.likeCount}">DTO</td> <!-- 추천 -->
			            </tr>
			            <tr>
			            	<td></td>
			            	<td></td>
			            	<td></td>
			            	<td></td>
			            	<td></td>
			            	<td></td>
			            </tr>
			        </tbody>
			    </table>
			    <div class="bd-bar d-flex input-group ml-3 mb-2 bd-input">
				    <input type="text" class="bd-search" placeholder="검색어">			    	
			        <button class="input-group-append bd-button">
			        	<i class="bi bi-search"></i>
			    	</button>
    			</div>
    			<div class="d-flex justify-content-center mb-2">
    				<a href="#" class="text-white">1</a>
    			</div>
			</div>
		</section> 
</html>