<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center mb-5">
			<div class="default-box rounded my-1">
				<nav>
			        <a href="#" class="text-white">공식 영상</a>
			        <a href="#" class="text-white">자유게시판</a>
			        <a href="#" class="text-white">세팅</a>
			        <a href="#" class="text-white">픽업 기간</a>
			    </nav>
			    <table class="table">
			        <thead>
			            <tr>
			                <th>No</th>
			                <th>제목</th>
			                <th>작성자</th>
			                <th>작성일</th>
			                <th>조회수</th>
			                <th>추천</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
			                <td>1</td>
			                <td>예시인데 어디까지 길어질까요</td>
			                <td>으에</td>
			                <td>2024-12-31</td>
			                <td>100</td>
			                <td>5</td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</section> 
</html>