<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
         <section layout:fragment="contents" class="contents d-flex justify-content-center mb-5">
			<div class="default-box rounded my-1" id="updateContents" th:data-post-id="${post.postId}">
				<h4 class="ml-2 mt-2">글쓰기</h4>
				<hr>
				<div class="p-5">
					<h5>제목</h5>
					<input type="text" class="form-control" id=titleInput placeholder="제목을 입력하세요" th:value="${post.title}">
					<br>
					
					<div th:if="${post.youtubeUrl != null}">
						<h5 class="bold">url</h5>
						<input type="text" th:value="|https://www.youtube.com/watch?v=${post.youtubeUrl}|" class="form-control mt-2 urlInput" placeholder="Youtube 링크를 입력하세요">									
					</div>
					
					<h5 class="mt-3">내용</h5>
					<textarea class="form-control mt-3" rows="10" id="contentsInput" placeholder="본문을 입력하세요" th:text="${post.contents}"></textarea>
					<div class="d-flex justify-content-between">
						<div class="d-flex mt-3">
							<button type="button" class="btn text-white uploadBtn">
						        <i class="bi bi-image" style="font-size: 20px;"></i> 이미지 업로드
						    </button>
    						<input type="file" id="fileInput" class="d-none" multiple>
    						<div id="fileInfo" class="ml-2" style="max-width: 200px; white-space: normal; overflow: hidden;  word-wrap: break-word;"></div>									
						</div>	
						<button class= "btn mt-4 ml-2 default-button text-white" id="updateBtn">수정</button>	
					</div>
					<div class = "mt-4" th:each="image : ${post.imageFiles}">
						<h4><i class="bi bi-x text-danger imgDeleteBtn" th:data-image-id="${image.imageId}"></i></h4>
						<img alt="업로드 된 이미지" th:src="${image.imagePath}" th:data-image-id="${image.imageId}" style="width: 170px">	
					</div>
				</div>
			</div>	
		</section>
		
		<script layout:fragment="script">
			$(document).ready(function(){
				
				$(".imgDeleteBtn").on("click", function() {
					
					let imgId = $(this).data("image-id");
					let deleteConfirm = confirm("이미지를 삭제하시겠습니까?");
					
					if(deleteConfirm) {
						$.ajax({
							type:"delete"
							, url:"/post/images/delete"
							, data:{"id":imgId}
							, success:function(response) {
								if(response.result == "success") {
									location.reload();
								} else{
									alert("삭제 실패");
								}
							}
							, error:function(){
								alert("삭제 에러");
							}
						});
					}
				});
				
				$(".uploadBtn").on("click", function() {
			        $("#fileInput").click(); 
			    });
				
				 $("#fileInput").on("change", function() {
				        let files = $(this)[0].files;
				        let fileInfo = $("#fileInfo");
				        let fileNames = [];
				        
				        for (let i = 0; i < files.length; i++) {
				            fileNames.push(files[i].name); 
				        }
				        
				        if (fileNames.length > 0) {
				            fileInfo.html("<span>" + fileNames.join(", ")  + "</span>" + "<br>");
				        } else {
				            fileInfo.html("");
				        }
				    });
				
				$("#updateBtn").on("click", function(){
					
					let title = $("#titleInput").val();
					let contents = $("#contentsInput").val();
					let files = $("#fileInput")[0].files;
					
			        let url = $(".urlInput").val();
			        let urlId = "";
			        if (url && url.includes("?v=")) {
			            urlId = url.split("?v=")[1];
			        }			
    				
					
					if(title == "") {
						alert("제목을 입력해주세요");
						return;
					}
					
					if(url == "") {
						alert("url을 입력해주세요.");
						return;
					}
					
					if(contents == "") {
						alert("내용을 입력해주세요");
						return;
					}
					
					let formData = new FormData();
					formData.append("title", title);
					formData.append("contents", contents);
					if (urlId) {
				        formData.append("youtubeUrl", urlId);
				    }
					
					if (files.length > 0) {
				        for (let i = 0; i < files.length; i++) {
				            formData.append("imageFiles", files[i]);
				        }
				    }
					
					let id = $("#updateContents").data("post-id");
					formData.append("id", id);
					
					$.ajax({
						type: "put"
						, url:"/post/update"
						, data: formData
						, enctype:"multipart/form-data" 
						, processData:false 
						, contentType:false
						, success:function(response) {
							if(response.result == "success") {
								location.href="/post/detail-view/" + id;
							} else {
								alert("수정 실패");
							}
						}
						, error:function() {
							alert("수정 에러");
						}
						
					});
				});
			});
			
		</script>