<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center mb-5">
			<div class="input-box my-4 p-5 rounded">
				<div></div>
				<div class="d-flex justify-content-center">
					<div class="profile-box">
						<label for="fileInput"><img th:src="${session.userProfile}"></label>
						<input type="file" class="d-none" id="fileInput">
					</div>
				</div>
				<div class="d-flex justify-content-center mt-2">
					<button class= "btn mt-3 default-button text-white btn-sm" id="profileBtn">프로필 이미지 저장</button>				
				</div>
				<h5 class="mt-4">닉네임</h5>
				<input type="text" class="form-control mt-2" id="editNicknameInput" th:value="${session.userNickname}">
				<div class="text-danger small d-none" id="duplicateName">사용중인 닉네임 입니다.</div>
				<div class="text-success small d-none" id="availableName">사용가능한 닉네임 입니다.</div>
				<button class= "btn btn-block mt-3 default-button text-white" id="saveBtn">저장</button>				
			</div>
		</section>
		
		 <script layout:fragment="script">
		 $(document).ready(function(){
			 var isduplicateName = true;
			 $("#profileBtn").on("click", function() {
		            let file = $("#fileInput")[0].files[0];

		            if (file) {
		            	let formData = new FormData();
		            	formData.append("imageFile", file);
		            	
		            	$.ajax({
							type:"put"
							, url: "/user/profile/edit"
							, data:formData
							, enctype:"multipart/form-data"
							, processData:false 
							, contentType:false 
							, success:function(response) {
								if (response.result === 'success') {
									if(response.result == "success") {
										location.reload();
								} else {
									alert("변경 실패");
									}
								}
							}
		            		,error:function() {
								alert("작성 에러");
		            		}
		            });
		         }
			 });
			 
			 $("#saveBtn").on("click", function(){
				 let nickname = $("#editNicknameInput").val();
				 
				 if(nickname == ""){
					 alert("닉네임을 입력해주세요");
					 return;
				 }
				 
				 $.ajax({
						type: "put"
						, url:"/user/nickname/edit"
						, data:{"nickname":nickname}
						, success:function(response) {
							if(response.result == "success") {
								location.href="/post/profile"
							} else {
								alert("저장 실패");
							}
						}
						, error:function() {
							alert("저장 에러");
						}
						
					}); 
			 });
     		
     		$("#editNicknameInput").on("input", function(){
     			let nickname = $("#editNicknameInput").val();
     			
     			if (nickname === "") {
     		        $("#duplicateName").addClass("d-none");
     		        $("#availableName").addClass("d-none");
     		        isduplicateName = true;  
     		    } else {	
     			$.ajax({
						type:"get"
						, url:"/user/duplicate-name"
						, data:{"nickname":nickname}
						, success:function(response) {
							isduplicateCheck = true;
							if(response.isDuplicate) {
								$("#duplicateName").removeClass("d-none");
								$("#availableName").addClass("d-none");
								isduplicateName = true;
							} else {
								$("#availableName").removeClass("d-none");
								$("#duplicateName").addClass("d-none");
								isduplicateName = false;
							}
						}
						, error:function() {
							alert("중복확인 에러!");
						}
						
					});
     		    }
		 	});
		 });
		 </script>