<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="input-box my-5 p-5 rounded">
        		<h2 class="text-center">비밀번호 변경</h2>
        		<div class="d-flex">
					<input type="text" class="form-control mt-4" id="emailInput" placeholder="이메일">
					<button class= "btn mt-4 ml-2 default-button text-white" id="sendBtn">메일 발송</button>					
				</div>
				<div class="d-flex">
					<input type="text" class="form-control mt-2" id="codeInput" placeholder="이메일 인증코드">
					<button class= "btn mt-2 ml-2 default-button text-white" id="verifyBtn">인증 확인</button>
				</div>
				<form id="editPasswordForm">
					<input type="password" class="form-control mt-4" id="newPasswordInput" placeholder="변경할 비밀번호">
					<input type="password" class="form-control mt-2" id="newPasswordConfirmInput" placeholder="변경할 비밀번호 확인">
					<button type="submit" class= "btn btn-block mt-3 default-button text-white" id="editBtn">변경 완료</button>
				</form>
        	</div>
        </section>
        
        <script layout:fragment="script">
        	$(document).ready(function(){
        		var isexistId = true;
        		var verifyConfirm = true;
        		
        		$("#editPasswordForm").on("submit", function(e){
    				e.preventDefault();
    				
    				let email = $("#emailInput").val();
    				let code = $("#codeInput").val();
    				let newPassword = $("#newPasswordInput").val();
            		let newPasswordConfirm = $("#newPasswordConfirmInput").val();
            		
            		if (email == "") {
        	            alert("이메일을 입력해주세요.");
        	            return;
        	        }
            		
            		if (code == "") {
        	            alert("인증코드를 입력해주세요.");
        	            return;
        	        }
            		
            		if(newPassword == "") {
            			alert("변경할 비밀번호를 입력하세요.");
            			return;
            		}
            		
            		if(newPasswordConfirm == "") {
            			alert("변경할 비밀번호를 확인해주세요.");
            			return;
            		}
            		
            		if(verifyConfirm) {
            			alert("잘못된 인증코드입니다.");
            			return;
            		}
            		
            		$.ajax({
            			type:"post"
            			, url: "/user/password/change"
            			, data:{"loginId":email, "password":newPassword}
            			, success:function(response){
            				if(response.result == "success"){
            					alert("변경 완료");
            					location.href="/user/login-view"
            				} else{
            					alert("변경 실패");
            				}
            			}
            			, error:function(){
            				alert("변경 에러");
            			}
            		});
        		});
        		
        		
        		
        		$("#emailInput").on("input", function(){
        			let email = $('#emailInput').val();
        			
        			if (email === "") {
        		        email = true;  
        		    } else {	
        			$.ajax({
						type:"get"
						, url:"/user/duplicate-id"
						, data:{"loginId":email}
						, success:function(response) {
							isduplicateCheck = true;
							if(response.isDuplicate) {
								isexistId = true;
							} else {
								isexistId = false;
							}
						}
						, error:function() {
							alert("중복확인 에러!");
						}
						
					});
        		    }
        		});
        		
        		$('#verifyBtn').on('click', function(){
        			let code = $("#codeInput").val();
        			let email = $('#emailInput').val();
        			
        			if (code == "") {
        	            alert("인증코드를 입력해주세요.");
        	            return;
        	        }
        			
        			$.ajax({
        				type:"post"
        				, url:"/mail/verify"
        				, data:{"email":email, "code":code}
        				, success:function(response){
        					if(response.result == "success"){
        						alert("인증이 완료되었습니다.");
        						verifyConfirm = false;
        					} else{
        						alert("인증이 실패되었습니다.");
        						verifyConfirm = true;
        					}
        				}
        				, error:function(){
        					alert("인증 에러");
        				}
            		});
        		});
        		
        		   		
        		$('#sendBtn').click(function() {
        	        let email = $('#emailInput').val();

        	        if (email == "") {
        	            alert("이메일을 입력해주세요.");
        	            return;
        	        }
        	        
        	        if(!isexistId) {
        	        	alert("가입되지 않은 이메일 입니다.");
        	        	return;
        	        }
        	        $.ajax({
        	        	type:"post"
        	        	, url:"/mail/send"
        	        	, data:{"email":email}
        	        	, success:function(response){
        	        		if(response.result == "success") {
        						alert("메일이 발송되었습니다.");
        	        		} else {
        	        			alert("발송 실패");
        	        		}
        	        	}
        	        	, error:function() {
        	        		alert("발송 에러");
        	        	}
        	        });
        		});        
        		
        	});
        
        </script>
</html>