<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="input-box my-4 p-5 rounded">
				<h1 class="text-center">BBAR</h1>
				<h4 class="text-center">계정 회원가입</h4>
				<div class="d-flex">
					<input type="text" class="form-control mt-4" id="loginIdInput" placeholder="이메일">
					<button class= "btn mt-4 ml-2 join-button text-white" id="CodeBtn">인증</button>					
				</div>
				<input type="text" class="form-control mt-2" id="emailInput" placeholder="이메일 인증코드">
				<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
				<input type="password" class="form-control mt-2" id="passwordConfirmInput" placeholder="비밀번호확인">
				<input type="text" class="form-control mt-2" id="nameInput" placeholder="닉네임">
				<div class="mt-2 p-3 rounded">
					<div class="text-center small">이미 계정이 있습니다. <a href="#">로그인</a></div>
				</div>
				<button class= "btn btn-block mt-3 join-button text-white" id="joinBtn">가입</button>
			</div>
        </section>