<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="input-box my-4 p-5 rounded">
				<h1 class="text-center">BBAR</h1>
				<h4 class="text-center">계정 회원가입</h4>
				<div class="d-flex">
					<input type="text" class="form-control mt-4" id="idInput" placeholder="이메일">
					<button class= "btn mt-4 ml-2 default-button text-white" id="sendBtn">메일 발송</button>					
				</div>
				<div class="text-danger small d-none" id="duplicateEmail">이미 가입된 이메일 주소입니다.</div>
				<div class="text-success small d-none" id="availableEmail">사용가능한 이메일 주소입니다.</div>
				<div class="d-flex">
					<input type="text" class="form-control mt-2" id="codeInput" placeholder="이메일 인증코드">
					<button class= "btn mt-2 ml-2 default-button text-white" id="verifyBtn">인증 확인</button>
				</div>
				<div class="text-success small d-none" id="verifySuccess">인증 완료</div>
				<div class="text-danger small d-none" id="verifyFail">인증 실패</div>
				<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
				<input type="password" class="form-control mt-2" id="passwordConfirmInput" placeholder="비밀번호확인">
				<input type="text" class="form-control mt-2" id="nicknameInput" placeholder="닉네임">
				<div class="text-danger small d-none" id="duplicateName">사용중인 닉네임 입니다.</div>
				<div class="text-success small d-none" id="availableName">사용가능한 닉네임 입니다.</div>
				<div class="mt-2 p-3 rounded">
					<div class="text-center small">이미 계정이 있습니다. <a href="/user/login-view"> 로그인</a></div>
				</div>
				<button class= "btn btn-block mt-3 default-button text-white" id="joinBtn">가입</button>
			</div>
        </section>
        
        <script layout:fragment="script">
        	$(document).ready(function(){
        		
        		var isduplicateId = true;
        		var isduplicateName = true;
        		var verifyCode = true;
        		
        		$('#verifyBtn').on('click', function(){
        			let code = $("#codeInput").val();
        			let email = $('#idInput').val();
        			
        			if (code == "") {
        	            alert("인증코드를 입력해주세요.");
        	            return;
        	        }
        			
        			$.ajax({
        				type:"post"
        				, url:"/mail/verify"
        				, data:{"email":email, "code":code}
        				, success:function(response){
        					if(response.result == "success"){
        						$("#verifySuccess").removeClass("d-none");
        						$("#verifyFail").addClass("d-none");
        						alert("인증이 완료되었습니다.");
        						verifyCode = false;
        					} else{
        						$("#verifySuccess").addClass("d-none");
        						$("#verifyFail").removeClass("d-none");
        						alert("인증이 실패되었습니다.");
        						verifyCode = true;
        					}
        				}
        				, error:function(){
        					alert("인증 에러");
        				}
        			});
        		});
        		
        		$("#codeInput").on("input", function() {
					$("#verifySuccess").addClass("d-none");
					$("#verifyFail").addClass("d-none");
				});
        		
        		$('#sendBtn').click(function() {
        	        let email = $('#idInput').val();

        	        if (email == "") {
        	            alert("이메일을 입력해주세요.");
        	            return;
        	        }
        	        
        	        $.ajax({
        	        	type:"post"
        	        	, url:"/mail/send"
        	        	, data:{"email":email}
        	        	, success:function(response){
        	        		if(response.result == "success") {
        						alert("메일이 발송되었습니다.");
        	        		} else {
        	        			alert("발송 실패");
        	        		}
        	        	}
        	        	, error:function() {
        	        		alert("발송 에러");
        	        	}
        	        });
        		});
        		
        		
        		$("#nicknameInput").on("input", function(){
        			let nickname = $("#nicknameInput").val();
        			
        			if (nickname === "") {
        		        $("#duplicateName").addClass("d-none");
        		        $("#availableName").addClass("d-none");
        		        isduplicateName = true;  
        		    } else {	
        			$.ajax({
						type:"get"
						, url:"/user/duplicate-name"
						, data:{"nickname":nickname}
						, success:function(response) {
							isduplicateCheck = true;
							if(response.isDuplicate) {
								$("#duplicateName").removeClass("d-none");
								$("#availableName").addClass("d-none");
								isduplicateName = true;
							} else {
								$("#availableName").removeClass("d-none");
								$("#duplicateName").addClass("d-none");
								isduplicateName = false;
							}
						}
						, error:function() {
							alert("중복확인 에러!");
						}
						
					});
        		    }
        		});
        		
        		$("#idInput").on("input", function(){
        			let loginId = $("#idInput").val();
        			
        			if (loginId === "") {
        		        $("#duplicateEmail").addClass("d-none");
        		        $("#availableEmail").addClass("d-none");
        		        isduplicateId = true;  
        		    } else {	
        			$.ajax({
						type:"get"
						, url:"/user/duplicate-id"
						, data:{"loginId":loginId}
						, success:function(response) {
							isduplicateCheck = true;
							if(response.isDuplicate) {
								$("#duplicateEmail").removeClass("d-none");
								$("#availableEmail").addClass("d-none");
								isduplicateId = true;
							} else {
								$("#availableEmail").removeClass("d-none");
								$("#duplicateEmail").addClass("d-none");
								isduplicateId = false;
							}
						}
						, error:function() {
							alert("중복확인 에러!");
						}
						
					});
        		    }
        		});
        		
        		$("#idInput").on("input", function() {
					isduplicateId = true;
					$("#duplicateText").addClass("d-none");
					$("#availableText").addClass("d-none");
				});
        		
        		$("#nicknameInput").on("input", function() {
					isduplicateName = true;
					$("#duplicateName").addClass("d-none");
					$("#availableName").addClass("d-none");
				});
        		
        		$("#joinBtn").on("click", function(){
        			let loginId = $("#idInput").val();
        			let password = $("#passwordInput").val();
        			let passwordConfirm = $("#passwordConfirmInput").val();
        			let nickname = $("#nicknameInput").val();
        			let code = $("#codeInput").val();
        			
        			if(loginId == ""){
        				alert("이메일을 입력해주세요");
        				return;
        			}
        			
        			if (code == "") {
        	            alert("인증코드를 입력해주세요.");
        	            return;
        	        }
        			
        			if(password == "") {
						alert("비밀번호를 입력하세요");
						return;
					}
        			
        			if(password != passwordConfirm) {
						alert("비밀번호가 일치하지 않습니다.");
						return;
					}
        			
        			if(nickname == "") {
						alert("닉네임을 입력하세요");
						return;
					}
        			
        			if(isduplicateId) {
						alert("중복된 아이디 입니다");
						return;
					}
        			
        			if(isduplicateName) {
						alert("중복된 닉네임 입니다");
						return;
					}
        			
        			if(verifyCode) {
						alert("인증이 확인되지 않았습니다");
						return;
					}
        			
        			
        			
        			$.ajax({
        				type:"post"
        				, url: "/user/join"
        				, data:{"loginId":loginId, "password":password, "nickname":nickname}
        				, success:function(response) {
        					if(response.result == "success") {
        						alert("계정이 생성되었습니다.");
        						location.href = "/user/login-view";
        					} else {
        						alert("계정생성 실패");
        					}
        				}
        				, error:function() {
        					alert("계정생성 에러");
        				}
        			});
        		});
        	});
        </script>