<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="input-box my-4 p-5 rounded">
				<h1 class="text-center">BBAR</h1>
				<h4 class="text-center">계정 로그인</h4>
				<form id="loginForm">
					<input type="text" class="form-control mt-4" id="idInput" placeholder="이메일">
					<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
					<button type="submit" class= "btn btn-block mt-3 default-button text-white" id="loginBtn">로그인</button>				
				</form>
				<div class="d-flex justify-content-between mt-4">
					<a href="/user/edit-password" class="text-white">비밀번호 찾기</a>
					<a href="/user/join-view" class="text-white">가입하기</a>
				</div>
			</div>
        </section>
        
        <script layout:fragment="script">
        $(document).ready(function(){
        	$("#loginForm").on("submit", function(e){
				e.preventDefault();
				
        		let id = $("#idInput").val();
        		let password = $("#passwordInput").val();
        		
        		if(id == "") {
					alert("아이디를 입력하세요");
					return;
				}
				
				if(password == "") {
					alert("비밀번호를 입력하세요");
					return;
				}
				
				$.ajax({
					type:"post"
					, url: "/user/login"
					, data:{"loginId":id, "password":password}
					, success:function(response) {
						if(response.result == "success") {
							location.href = "/post/popular-view";
						} else {
							alert("이메일과 비밀번호를 확인해주세요");
						}
					}
					, error:function() {
						alert("로그인 에러");
					}
					
				});
        	});
        });
        </script>
</html>