<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="input-box my-5 p-5 rounded">
				<h2 class="text-center">비밀번호 변경</h2>
				<form id="editPasswordForm">
					<input type="text" class="form-control mt-4" id="newPasswordInput" placeholder="변경할 비밀번호">
					<input type="password" class="form-control mt-2" id="newPasswordConfirmInput" placeholder="변경할 비밀번호 확인">
					<button type="submit" class= "btn btn-block mt-3 join-button text-white" id="editBtn">변경 완료</button>				
				</form>
			</div>
        </section>
        
        <script layout:fragment="script">
        $(document).ready(function(){
        	$("#editPasswordForm").on("submit", function(e){
				// submit 이벤트가 가진 고유의 기능을 막는다
				e.preventDefault();
				
				let newPassword = $("#newPasswordInput").val();
        		let newPasswordConfirm = $("#newPasswordConfirmInput").val();
        		
        		if(newPassword == "") {
        			alert("변경할 비밀번호를 입력하세요.");
        			return;
        		}
        		
        		if(newPasswordConfirm == "") {
        			alert("변경할 비밀번호를 확인해주세요.");
        			return;
        		}
        		});
        	});
        </script>