	<header class="d-flex align-items-center justify-content-between mb-5">
		<!-- 메뉴 -->
		<div class="d-flex align-items-end">
			<h2 class="ml-4"><a href="/post/popular-view" class="text-white">인기글</a></h2>
			<h4 class="ml-4"><a href="/post/list-view" class="text-white">메인</a></h4>
		</div>
		
		<!-- 검색
		<div th:if="${session.userId != null}">
			<div class="search-bar d-flex align-items-center p-2">
			    <input type="text" class="search-input">
			    <button class="search-button">
			        <i class="bi bi-search"></i>
			    </button>
			</div>		
		</div> -->
	
		<!--프로필-->
		<div class="d-flex">
			<div th:if="${session.userId == null}" class="mr-4 d-flex">
				<a href="/user/login-view" class="text-white">로그인</a>
			</div>
			<div th:if="${session.userId != null}" class="mr-4 d-flex">
				<div class="pen-icon">
					<h5><i class="bi bi-pencil mr-4"></i></h5>
					<div class="menu">
						<a href="/post/create-view" class="text-white"><i class="bi bi-pen-fill text-success"></i> 글쓰기 <i class="bi bi-chevron-compact-right ml-5"></i></a>
				    	<a href="/post/video/url-view" class="text-white"><i class="bi bi-camera-video-fill text-info"></i> 동영상 <i class="bi bi-chevron-compact-right ml-5"></i></a>
				    </div>			
				</div>
				<div class="miniProfile-box ml-5 mr-2">
					<div class="profile">
						<img th:if="${session.userProfile != null}" img alt="프로필 사진" th:src="${session.userProfile}" class="profileImg">
						<img th:if="${session.userProfile == null}" img alt="기본 프로필 사진" src="/static/images/default_img.webp" class="profileImg">
						<div class="p-menu">
							<a href="/user/edit-profile" class="text-white"> 프로필 편집 <i class="bi bi-chevron-compact-right ml-4"></i></a>
				    		<a href="/user/logout" class="text-white"> 로그아웃<i class="bi bi-chevron-compact-right ml-5"></i></a>
					    </div>	
					</div>
				</div>
				<div class="mt-3 mx-2" th:text="|${session.userNickname} 님|"></div>
			</div>
		</div>
	</header>