@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

hr {
    border-top: 1px solid white; 
    margin: 20px 0; 
}

.search-bar {
	position: fixed;
	left: 40%;
    background-color: white;
    border-radius: 20px;
}

.search-input {
	width:350px;
    background-color: white;
    border: none;
    outline: none;
}

.search-button {
    background: none;
    border: none;
}

.default-button {
	 background-color:#6C8BFE;
}

input.form-control {
    color: white;
    border: black;
    background-color:black; 
}

input.form-control:focus {
    background-color: black;  
    color: white;  
}

.profile-box {
	width: 120px;
   	height: 120px;
	border-radius : 50%;
	border: 1px solid black;
	overflow: hidden;
}

.profile-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap{
	margin:0 auto;
}

header {
	height:70px;
	background-color:#2C3E50;
}

.contents > .input-box {
	width:450px;
	background-color:#2C3E50;
}

footer {
	height:70px;
}