@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

hr {
    border-top: 1px solid white; 
    margin: 20px 0; 
}

#wrap{
	width:1200px;
	margin:0 auto;
}

header {
	height:100px;
}

.contents {
	width:450px;
}

footer {
	height:70px;
}